BasedOnStyle: LLVM
Language: C

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlignOperands: true
AlignTrailingComments: true

PointerAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements

SortIncludes: false

AlwaysBreakAfterReturnType: None
BinPackParameters: false
BinPackArguments: false

IndentCaseLabels: true
