name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build AumLang
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake libglib2.0-dev

      - name: Configure CMake
        run: |
          mkdir -p build
          cd build
          cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..

      - name: Build
        run: |
          cd build
          make

      # - name: Run a sample AumLang program
      #   run: |
      #     cd build
      #     echo 'print("Hello AumLang")' > test.aum
      #     ./aumlang ../test.aum
